{% extends 'base.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block body %}
    <br>
<b>Filtrer : </b><a href="{{ path('vehicule_index') }}" class="btn btn-{% if filer_city == '' %}primary{% else %}light{% endif %}">Tous les véhicule</a> <a href="{{ path('vehicule_index') }}?city=Marseille" class="btn btn-{% if filer_city == 'Marseille' %}primary {% else %}light {% endif %}">Marseille</a> <a href="{{ path('vehicule_index') }}?city=Bastia" class="btn btn-{% if filer_city == 'Bastia' %}primary {% else %}light {% endif %} ">Bastia</a><br>
<a class="btn btn-success mt-4 mb-3"  href="{{ path('vehicule_new') }}"><i class="fa fa-plus"></i> Ajouter un Vehicule</a>
<a class="btn btn-success mt-4 mb-3"  href="{{ path('refresh_avail_vehicule') }}"><i class="fas fa-sync"></i> Actualiser Getaround</a>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h2 class="h3">Liste véhicule</h2>
        </div>
        <div class="card-body">
            <table id="dataTable" class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Véhicule</th>
                        <th>Parc</th>
                        <th>Etat</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for vehicule in vehicules %}
                    <tr>
                        <td><a href="{{ path('vehicule_show', {'id': vehicule.id}) }}">{{ vehicule.model }} {{ vehicule.immatriculation}}</a></td>
                        <td>{{vehicule.parcStationnementVille}}</td>
                        <td>
                        {% if vehicule.status == 0 %}
                            <span class="vehicule-free">Libre</span>   
                        {% elseif vehicule.status == 1 %}
                            <span class="vehicule-reserved">Indisponible</span> 
                        {% elseif vehicule.status == 2 %}
                            <span class="vehicule-vendu">Vendu</span>   
                        {% endif %}
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" href="{{ path('vehicule_show', {'id': vehicule.id}) }}"><i class="fa fa-search"></i> Afficher le vehicule</a>
                                    <a class="dropdown-item" href="{{ path('vehicule_edit', {'id': vehicule.id}) }}"><i class="fa fa-edit"></i> Modifier le vehicule</a>
                                    <a class="dropdown-item" href="#">
                                        <form method="post" action="{{ path('vehicule_delete', {'id': vehicule.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule.id) }}">
                                            <i class="fa fa-trash"></i> 
                                            <button style="border:none; background:none; padding-left:14px;"> Supprimer</button>
                                        </form>
                                    </a>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}
