{% extends 'base.html.twig' %}

{% block title %}Import Location{% endblock %}

{% block body %}

{% if locations %}
	<form method="post" action="">
		<table class="table table-bordered table-striped text-center">
			<thead>
				<th>ID Getaround</th>
				<th>Plateforme location</th>
				<th>Parc stationnement</th>
				<th>Date du début</th>
				<th>Date de fin</th>
				<th>Prix</th>
				<th>Véhicule</th>
				<th>Commentaire</th>
			</thead>
			<tbody>
				{% for location in locations %}
					<tr>
						<td>
							<input class="form-control" type="hidden" value="{{location.id }}" name="location[{{location.id}}][id]">
							{{location.id }}
						</td>
						<td>
							<input class="form-control" type="hidden" value="{{location.plateformeLocation }}" name="location[{{location.id}}][plateformeLocation]">
							{{location.plateformeLocation }}
						</td>
						<td>
							<input class="form-control" type="hidden" value="{{location.parcStationnementVille }}" name="location[{{location.id}}][parcStationnementVille]">
							{{location.parcStationnementVille }}
						</td>
						<td>
							<input class="form-control" type="hidden" value="{{location.start_date|date('Y-m-d') }}" name="location[{{location.id}}][start_date]">
							{{location.start_date|date('Y-m-d') }}
						</td>
						<td>
							<input class="form-control" type="hidden" value="{{location.end_date|date('Y-m-d') }}" name="location[{{location.id}}][end_date]">
							{{location.end_date|date('Y-m-d') }}
						</td>
						<td>
							<input class="form-control" type="hidden" value="{{location.price }}" name="location[{{location.id}}][price]">
							{{location.price }} €
						</td>
						<td>
							<input type="hidden" name="location[{{location.id}}][immatriculation]" value="{{location.immatriculation }}">
							{{location.model }} - {{location.immatriculation }}
						</td>
						<td>
							<textarea class="form-control" type="text" name="location[{{location.id}}][remarque]"></textarea>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<button type="submit" class="btn btn-primary float-right">Sauvegarder</button>
		<a class="btn btn-success float-right mr-2" href="{{path('location_import')}} ">Retour</a>
	</form>
{% else %}
	<p>Aucune location ! Importer les location du mois :     

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choisir mois</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="?month=00">December</a>
  	{% for key,month in months %}
    	<a class="dropdown-item" href="?month={{month}}">{{key}}</a>
  	{% endfor %}
  </div>
</div>



	</p>	
{% endif %}

<br><br><br>



{% endblock %}
