{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<!-- <h1 class="text-center h2 pt-4 mb-4">Chiffres du mois</h1> -->
<div class="row pt-5">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-white">
      <div class="inner">
        <h3>{{location_price}}<sup style="font-size: 20px">€</sup></h3>
        <p>Locations</p>
      </div>
      <div class="icon">
        <i class="fas fa-trophy fa-lg"></i>
      </div>
    </div>
  </div><!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h3>{{depense_price}}<sup style="font-size: 20px">€</sup></h3>
        <p>Dépenses</p>
      </div>
      <div class="icon">
       <i class="fas fa-calculator fa-lg"></i>
      </div>
    </div>
  </div><!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>{{vente_vehicule}}<sup style="font-size: 20px">€</sup></h3>
        <p>Ventes véhicules</p>
      </div>
      <div class="icon">
        <i class="fas fa-file-alt fa-lg"></i>
      </div>
    </div>
  </div><!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h3>{{vehicule_benefice}}<sup style="font-size: 20px">€</sup></h3>
        <p>Bénéfices</p>
      </div>
      <div class="icon">
        <i class="fas fa-shopping-bag fa-lg"></i>
      </div>
    </div>
  </div><!-- ./col -->
</div>

<!-- BAR CHART -->
<div class="card card-success mb-4">
  <div class="card-header">
    <h3 class="card-title">Chiffres d'affaire {{ years|join(' - ') }} </h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="chart">
      <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
    </div>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
<div class="row mt-4">
  <div class="col-lg-4 col-xs-12">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
          {% if percentage_increase_chiffre_affaire < 0 %}
          <i class="fas fa-chevron-down"></i>
          {% elseif percentage_increase_chiffre_affaire == 0 %}
          <i class="fas fa-chevron-right"></i>
          {% else %}
          <i class="fas fa-chevron-up"></i>
          {% endif %}
          {{percentage_increase_chiffre_affaire|round(2, 'ceil')}}% <br>
          <b> {{total_chiffre_affaire}} € </b><br>
          TOTAL CHIFFRE D'AFFAIRE
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xs-12">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
          {% if percentage_increase_depense < 0 %}
          <i class="fas fa-chevron-down"></i>
          {% elseif percentage_increase_depense == 0 %}
          <i class="fas fa-chevron-right"></i>
          {% else %}
          <i class="fas fa-chevron-up"></i>
          {% endif %}
          {{percentage_increase_depense|round(2, 'ceil')}}% <br>
          <b> {{total_depenses}} € </b><br>
          TOTAL DEPENSES
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xs-12">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
          {% if percentage_increase_location < 0 %}
          <i class="fas fa-chevron-down"></i>
          {% elseif percentage_increase_location == 0 %}
          <i class="fas fa-chevron-right"></i>
          {% else %}
          <i class="fas fa-chevron-up"></i>
          {% endif %}
          {{percentage_increase_location|round(2, 'ceil')}}% <br>
          <b> {{total_locations}} € </b><br>
          TOTAL LOCATIONS
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block javascripts %}
<script>





  var areaChartData = {
    labels  : {{months_in_french|raw()}},
    datasets: [
    {% for year in years %}
      {
        label               : '{{year}}',
        backgroundColor     : '{{years_color[year]}}',
        borderColor         : 'rgba(60,141,188,0.8)',
        pointRadius          : false,
        pointColor          : '#3b8bba',
        pointStrokeColor    : 'rgba(60,141,188,1)',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: 'rgba(60,141,188,1)',
        data                : {{ chiffre_affaire_json[year]}}
      },
    {% endfor %}
    ]
  }
    //-------------
    //- Chiffre d'affaire graphs -
    //-------------
    var barChartCanvas = $('#barChart').get(0).getContext('2d')
    var barChartData = $.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    var temp1 = areaChartData.datasets[1]
    barChartData.datasets[0] = temp1
    barChartData.datasets[1] = temp0

    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }

    new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    })
</script>
{% endblock %}