{% extends 'base.html.twig' %}

{% block title %}utilisateur N° {{ user.id }}{% endblock %}

{% block body %}

    <br><br>
    <div class="row mb-4">
      <div class="col-1"><a class="btn btn-info" href="{{ path('user_index') }}">Retour</a></div>
      <div class="col-2"><a class="btn btn-success" href="{{ path('user_edit', {'id': user.id}) }}" style="width:100%"><i class="fa fa-edit"></i> Modifier</a></div>
      <div class="col-4">{{ include('user/_delete_form.html.twig') }}</div>
    </div>


    <div class="card">
        <div class="card-header">
            <h2 class="h3">Utilisateur N° {{ user.id }}</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td>************</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
